@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
}

i#burger {
    display: block;
    background-color: black;
    color: white;
    padding: 20px;
}

#burger:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}
li {
    display: block;
    background-color: rgb(100, 100, 100);
    color: white;
    padding: 20px;
    margin-bottom: 2px;
}

li:hover {
    background-color: gray;
}